
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.outer-conainer {
  width:309px;
  height: 370px;
  background-color: grey;
  border:1px black solid;
  display: grid;
  margin: 0 auto;
  justify-items: center;
  margin-top: 50px;
}


.Buttons-topsection {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  height: 213px;
  gap: 5px;
}

.Button-bottomsection {
  display: grid;
  grid-template-columns: 70px 70px 146px;
  height: 53px;
  gap: 5px;
  margin-top: 4px;
}




.screendisplay {
  width: 300px;
  height: 5rem;
  border:none;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-top: 2px;
  &__top {
    color:black;
    background: rgb(245, 167, 0);
    height: 2.5rem;
    width: 297px;
  }
  &__bottom {
    color:black;
    background: rgb(245, 167, 0);;
    height: 2.5rem;
    width: 297px;
  }
}